.footer-container
        footer
          section.contact
            a.nav-bottom(href='#') Impresszum
            a.nav-bottom(href='#') Kapcsolat
            a.nav-bottom(href='#') Médiaajánlat
          section.poweredby
            a(href='#col1') Oldal tetejére