header.site-header
  h1 Hírek
  nav.site-navigation
    ul.nav-list
      li.category
        a(href='#') Főoldal
      li.category
        a(href='#') Belföld
      li.category
        a(href='#') Külföld
      li.category
        a(href='#') Bulvár
      li.category
        a(href='#') Sport
      li.category
        a(href='#') Technológia
