head
    meta(charset='utf-8')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    title Hírkereső
    link(rel='canonical', href='http://example.ampproject.org/article-metadata.html')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    meta(name='description', content='FILL THIS OUT')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Lora|Roboto:400,300,700', rel='stylesheet', type='text/css')
    script(async='', custom-element='amp-list', src='https://cdn.ampproject.org/v0/amp-list-0.1.js')
    script(async='', custom-template='amp-mustache', src='https://cdn.ampproject.org/v0/amp-mustache-0.1.js')
    script(async='', custom-element='amp-analytics', src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "Open-source framework for publishing content",
      "datePublished": "2015-10-07T12:02:41Z",
      "image": [
      "logo.jpg"
      ]
      }
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    style(amp-custom='').
      /* any custom style goes here */
      body {
      font-family: 'roboto', sans-serif;
      }
      .header-container{
      background-color: #062F4F; /*ink*/
      background: linear-gradient(#062F4F 80%, black);
      border-bottom: solid 1px black;
      }
      header {
      max-width: 950px;
      margin: 0 auto;
      color: white;
      }
      h1 {
      margin: 0;
      padding: .3em 0 .1em .5em;
      }
      h1 a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px #000;
      letter-spacing: 5px;
      font-size: .7em;
      }
      nav ul {
      list-style: none;
      padding: 0 0 0 .9em;
      margin: 0;
      }
      nav li {
      text-align: center;
      display: inline-block;
      width: 50px;
      height: 20px;
      line-height: 20px;
      }
      nav a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: .3s background-color;
      border-radius: 1px;
      }
      nav a h2 {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-family: 'Arial', sans-serif;
      font-size: .8em;
      }
      nav a:hover {
      background-color: #E24E42 /*mustard - rgba(233, 128, 0, .5)*/
      }
      nav a:active {
      background-color: #fff; /*papaya*/
      color: #fff;
      }
      main {
      padding-top: 10px;
      max-width: 950px;
      margin: 0 auto;
      }
      .feed-container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      justify-content: left;
      margin-left: .5em;
      }
      .col {
      width: 310px;
      }
      .feed-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      }
      .feed-list-ul{
      list-style: none;
      padding: 0;
      margin: 0;
      }
      .feed-list-header-container {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #008F95 ; /*aqua or papaya #E24E42*/
      }
      .feed-list-header {
      margin: 0;
      padding: .4em 0 .4em .4em;
      color: white;
      font-size: 1em;
      letter-spacing: 5px;
      text-transform: capitalize;
      text-shadow: 2px 2px 2px black;
      border-bottom: 1px solid black;
      }
      .feed-item {
      background-color: #062F4F; /*ink*/
      border-bottom: 1px solid #4484CE; /*aqua*/
      padding: .4em .2em .4em .4em;
      border-radius: 3px;
      }
      .feed-item:hover{
      }
      .feed-item-title {
      font-size: .9em;
      text-decoration: none;
      color: #95BAC7 /*lightgrey*/;
      }
      .feed-item-title:hover{
      text-decoration: none;
      color: white;
      }
      .list-overflow[overflow]{
        position: absolute;
        bottom: 0;
        width: 305px;
        background: #E24E42; /*papaya*/
        background: linear-gradient(#062F4F 60%, white);
        border-top: 1px #fff;
        color : white;
        font-size: 1em;
        padding: .4em 0em .4em 1em;
        text-shadow: 2px 2px 2px black;
       }
       .list-overflow[overflow]:hover{
       color: #E24E42;
       }
      .footer-container {
      background-color: #008F95; /*aqua*/
      }
      footer {
      max-width: 950px;
      margin: 0 auto;
      padding: 10px 0 10px 0;
      display: flex;
      justify-content: space-between;
      }
      footer section a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding: 0 10px 0 20px;
      }
      footer section a:hover {
      color: black;
      transition: .5s background-color;
      }
      @media (min-width: 640px) {

      footer section a {
      display: inline;
      border-left: solid 1px white;
      border-right: solid 1px white;
      }
      .feed-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-left: 0;
      }
      h1 {
      margin: 0;
      padding: .7em 0 .3em 1.1em;
      }

      h1 a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px #000;
        letter-spacing: 5px;
        font-size: 1em;
        }
      nav li {
      text-align: center;
      display: inline-block;
      width: 100px;
      height: 40px;
      line-height: 40px;
      font-size: 1.1em;
      }
      nav a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: .3s background-color;
      }
      nav a:hover {
      background-color: #E24E42 /*mustard - rgba(233, 128, 0, .5)*/
      }
      nav a:active {
      background-color: #fff; /*papaya*/
      color: #fff;
      }
      nav a h2 {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-family: 'Arial', sans-serif;
      font-size: 1em;
      }
      }

