.header-container
        header.site-header
          .title-row
            h1
              a(href='/') Hírkereső
          .nav-row
            nav
              ul
                li.category
                  a(href='/')
                    h2 Főoldal
                li.category
                  a(href='/belfold')
                    h2 Belföld
                li.category
                  a(href='kulfold')
                    h2 Külföld
                li.category
                  a(href='bulvar')
                    h2 Bulvár
                li.category
                  a(href='sport')
                    h2 Sport
                li.category
                  a(href='tech')
                    h2 Tech
