header.site-header
  h1 Hírek
  nav.site-navigation
    ul.nav-list
      li.category
        a(href='/fooldal') Főoldal
      li.category
        a(href='/belfold') Belföld
      li.category
        a(href='/kulfold') Külföld
      li.category
        a(href='/bulvar') Bulvár
      li.category
        a(href='/sport') Sport
      li.category
        a(href='/tech') Tech
