head
    meta(charset='utf-8')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    title Hírkereső
    link(rel='canonical', href='http://example.ampproject.org/article-metadata.html')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    meta(name='description', content='FILL THIS OUT')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Lora|Roboto:400,300,700', rel='stylesheet', type='text/css')
    script(async='', custom-element='amp-analytics', src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "Open-source framework for publishing content",
      "datePublished": "2015-10-07T12:02:41Z",
      "image": [
      "logo.jpg"
      ]
      }
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    style(amp-custom='').
      /* any custom style goes here */
      body {
      font-family: 'roboto', sans-serif;
      }
      .header-container{
      background-color: #609732; /*ink #062F4F*/
      background: linear-gradient(#609732, #224C00 65%); /*black*/
      border-bottom: solid 1px black;
      }
      header {
      max-width: 950px;
      margin: 0 auto;
      color: white;
      }
      h1 {
      margin: 0;
      padding: .3em 0 .1em .5em;
      display: none;
      }
      h1 a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: .7em;
      }
      nav ul {
      background: #224C00;  /*dark-green */
      list-style: none;
      padding: .5em 0 .5em .9em;
      margin: 0;
      }
      nav li {
      border-top: solid 5px #609732;  /*middle-green */
      text-align: center;
      display: inline-block;
      height: 20px;
      line-height: 20px;
      }
      nav a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: .3s background-color;
      border-radius: 1px;
      }
      nav a h2 {
      margin: 0;
      padding: 0 .2em 0 .2em;
      font-weight: bold;
      font-family: 'Arial', sans-serif;
      font-size: .9em;
      }
      nav a:hover {
      background-color: #609732 /*middle-green - rgba(233, 128, 0, .5)*/
      }
      nav a.active {
      background-color: #609732; /*middle-green */
      }
      .col-row{
       margin: 0;

      }
      .col-row ul{
      margin: auto;
      padding: .5em 0 .5em 4em;
      list-style: none;
      }
      .col-row li{
      display: inline-block;
      text-align: center;
      text-decoration: none;
      }
       .col-row a{
      color: white;
      text-decoration: none;
      background-color: #609732;
      margin-right: 5px;
      padding: 10px;
      font-size: .7em;
      }
      main {
      max-width: 950px;
      margin: 0 auto;
      }
      .feed-container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      justify-content: left;
      margin-left: .5em;
      }
      .col {
      width: 310px;
      }
      .feed-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      }
      .feed-list-ul{
      list-style: none;
      padding: 0;
      margin: 0;
      }
      .feed-list-header-container {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      background-color: #224C00; /*middle-green*/
      }
      .feed-list-header {
      margin: 0;
      padding: .4em 0 .4em .4em;
      color: white;
      font-size: 1em;
      letter-spacing: 5px;
      text-transform: uppercase;
      border-bottom: 1px dotted #224C00; /*middle-brown*/
      }
      .feed-item {
      background-color: #bae397; /*ink*/
      border-bottom: 1px solid #609732; /*middle-green*/
      padding: .4em .2em .4em .4em;
      border-radius: 3px;
      }
      .feed-item-title {
      font-size: .9em;
      text-decoration: none;
      color: #224C00 /*lightgrey*/;
      }
      .feed-item-title:hover{
      text-decoration: none;
      color: #803415; /*middle-brown*/
      }
      .feed-item-title:visited{
      text-decoration: none;
      color: #803415; /*middle-brown*/
      }
      .footer-container {
      background-color: #224C00;  /*dark-green */
      }
      footer {
      max-width: 950px;
      margin: 0 auto;
      padding: 10px 0 10px 0;
      display: flex;
      justify-content: space-between;
      }
      footer section a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #bae397; /*light-green*/;
      padding: 0 10px 0 20px;
      }
      footer section a:hover {
      color: white;
      transition: .5s background-color;
      }




      @media (min-width: 640px) {
      .col-row{
      display: none;
      }
      footer section a {
      display: inline;
      border-left: solid 1px white;
      border-right: solid 1px white;
      }
      .feed-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-left: 0;
      }
      h1 {
      margin: 0;
      padding: .4em 0 .3em .5em;
      display: block;
      }

      h1 a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1em;
        }
      nav ul {
      padding: 0 0 0 .9em;
      }
      nav li {
      text-align: center;
      display: inline-block;
      width: 100px;
      height: 40px;
      line-height: 40px;
      font-size: 1.1em;
      }
      nav a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: .3s background-color;
      }
      nav a h2 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-family: 'Arial', sans-serif;
      font-size: 1em;
      }
      }

