head
    meta(charset='utf-8')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    title Hírkereső
    link(rel='canonical', href='http://example.ampproject.org/article-metadata.html')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    meta(name='description', content='FILL THIS OUT')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700', rel='stylesheet', type='text/css')
    script(async='', custom-element='amp-list', src='https://cdn.ampproject.org/v0/amp-list-0.1.js')
    script(async='', custom-template='amp-mustache', src='https://cdn.ampproject.org/v0/amp-mustache-0.1.js')
    script(async='', custom-element='amp-analytics', src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "Open-source framework for publishing content",
      "datePublished": "2015-10-07T12:02:41Z",
      "image": [
      "logo.jpg"
      ]
      }
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    style(amp-custom='').
      /* any custom style goes here */
      body {
      font-family: 'roboto', sans-serif;
      color: black;
      }
      .header-container{
      background-color: #062F4F; /*ink*/
      background: linear-gradient(#062F4F 80%, black);
      border-bottom: solid 1px black;
      }
      header {
      max-width: 950px;
      margin: 0 auto;
      }
      h1 {
      margin: 0;
      padding: 10px;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px #CCCCCC;
      letter-spacing: 15px;
      }
      nav ul {
      list-style: none;
      padding: 0;
      margin: 0 ;
      }
      nav li {
      text-align: center;
      display: inline-block;
      width: 110px;
      height: 40px;
      line-height: 40px;
      font-size: 1.2em;
      }
      nav a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: .3s background-color;
      border-radius: 3px;
      }
      nav a h2 {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-family: 'Arial', sans-serif;
      font-size: 1em;
      }
      nav a:hover {
      background-color: #E24E42 /*mustard - rgba(233, 128, 0, .5)*/
      }
      nav a.active {
      background-color: #E24E42; /*papaya*/
      color: #fff;
      cursor: default;
      }
      main {
      padding-top: 10px;
      }
      .feed-container {
      max-width : 950px;
      margin: 0 auto;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      justify-content: space-around;
      }
      .col {
      width: 310px;
      }
      .feed-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      }

      .feed-list-header-container {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #E24E42; /*papaya*/
      }
      .feed-list-header {
      margin: 0;
      padding: .4em 0 .4em .4em;
      font-size: 1em;
      letter-spacing: 5px;
      text-transform: capitalize;
      text-shadow: 2px 2px 2px black;
      border-bottom: 1px solid black;
      }
      .m1 {
      }
      .feed-item-title {
      font-size: .9em;
      text-decoration: none;
      color: lightgrey;
      }
      .feed-item {
      background-color: #062F4F; /*ink*/
      border-bottom: 1px solid #4484CE; /*aqua*/
      padding: .2em .1em .2em .4em;
      border-radius: 3px;
      }
      .feed-item:hover{
      }
      .feed-item-title:hover{
      text-decoration: none;
      color: white;
      }

      .list-overflow[overflow]{
        position: absolute;
        bottom: 0;
        width: 305px;
        background: #E24E42; /*papaya*/
        background: linear-gradient(#062F4F 60%, white);
        border-top: 1px #fff;
        color : white;
        font-size: 1em;
        padding: .4em 0em .4em 1em;
        text-shadow: 2px 2px 2px black;
       }
       .list-overflow[overflow]:hover{
       color: #E24E42;
       }
      .footer-container {
      background-color: #008F95; /*aqua*/
      }
      footer {
      max-width: 950px;
      margin: 0 auto;
      padding: 10px 0 10px 0;
      display: flex;
      justify-content: space-between;
      }
      footer section a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding: 0 10px 0 20px;
      }
      footer section a:hover {
      color: black;
      transition: .5s background-color;
      }
      @media (min-width: 600px) {
      footer section a {
      display: inline;
      border-left: solid 1px white;
      border-right: solid 1px white;
      }
      }
      @media (min-width: 900px) {
      nav ul {
      text-align: left;
      }
      }