extends layout

block content
    main
        .feed-container
          .col
            each feed in feedlist1
              .feed-wrapper
                .feed-list-header-container
                  h3.feed-list-header #{feed.title}
                .feed-list
                  amp-list(height='200', layout='fixed-height', src='/v0/api/feeds/' + feed.title)
                    template#amp-template-id(type='amp-mustache')
                      .feed-item
                        a.feed-item-title(href='{{url}}') {{title}}
          .col
                      each feed in feedlist2
                        .feed-wrapper
                          .feed-list-header-container
                            h3.feed-list-header #{feed.title}
                          .feed-list
                            amp-list(height='200', width='310', layout='fixed', src='/v0/api/feeds/' + feed.title)
                              template#amp-template-id(type='amp-mustache')
                                .feed-item
                                  a.feed-item-title(href='{{url}}') {{title}}
          .col
                      each feed in feedlist3
                        .feed-wrapper
                          .feed-list-header-container
                            h3.feed-list-header #{feed.title}
                          .feed-list
                            amp-list(height='200', width='310', layout='fixed', src='/v0/api/feeds/' + feed.title)
                              template#amp-template-id(type='amp-mustache')
                                .feed-item
                                  a.feed-item-title(href='{{url}}') {{title}}
